.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  align-items: stretch;
}

.noDishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  margin-top: 10vh;
}
